@media all{
    .aws-btn {

        --button-default-height: 60px;
        --button-default-font-size: 18px;
        --button-default-border-radius: 16px;
        --button-horizontal-padding: 28px;
        --button-raise-level: 4px;
        --button-hover-pressure: 4;
        --transform-speed: 0.6s;
        --button-primary-color: #1e88e5;
        --button-primary-color-dark: #1360a4;
        --button-primary-color-light: #ffffff;
        --button-primary-color-hover: #187bd1;
        --button-primary-border: none;
        --button-secondary-color: #f2f6f9;
        --button-secondary-color-dark: #1360a4;
        --button-secondary-color-light: #1e88e5;
        --button-secondary-color-hover: #e1eaf1;
        --button-secondary-border: 2px solid #1e88e5;
        --button-anchor-color: #0e4f88;
        --button-anchor-color-dark: #072743;
        --button-anchor-color-light: #ffffff;
        --button-anchor-color-hover: #0d4a7f;
        --button-anchor-border: none;
        }

    a{
       background:transparent;
   }
    a:active,a:hover{
       outline:0;
   }
    @media print{
        *{
           text-shadow:none!important;
           color:#000!important;
           background:transparent!important;
           -webkit-box-shadow:none!important;
           box-shadow:none!important;
       }
        a,a:visited{
           text-decoration:underline;
       }
        a[href]:after{
           content:" (" attr(href) ")";
       }
        p,h2{
           orphans:3;
           widows:3;
       }
        h2{
           page-break-after:avoid;
       }
   }
    *{
       -webkit-box-sizing:border-box;
       box-sizing:border-box;
   }
    *:before,*:after{
       -webkit-box-sizing:border-box;
       box-sizing:border-box;
   }
    a{
       color:#27ae60;
       text-decoration:none;
   }
    a:hover,a:focus{
       color:#19703e;
       text-decoration:underline;
   }
    a:focus{
       outline:thin dotted;
       outline:5px auto -webkit-focus-ring-color;
       outline-offset:-2px;
   }
    h2{
       font-family:inherit;
       font-weight:500;
       line-height:1.1;
       color:inherit;
   }
    h2{
       margin-top:20px;
       margin-bottom:10px;
   }
    h2{
       font-size:30px;
   }
    p{
       margin:0 0 10px;
   }
    .col-sm-6{
       position:relative;
       min-height:1px;
       padding-left:15px;
       padding-right:15px;
   }
    @media (min-width:768px){
        .col-sm-6{
           float:left;
       }
        .col-sm-6{
           width:50%;
       }
   }
    .btn{
       display:inline-block;
       margin-bottom:0;
       font-weight:normal;
       text-align:center;
       vertical-align:middle;
       cursor:pointer;
       background-image:none;
       border:1px solid transparent;
       white-space:nowrap;
       padding:6px 12px;
       font-size:14px;
       line-height:1.42857143;
       border-radius:4px;
       -webkit-user-select:none;
       -moz-user-select:none;
       -ms-user-select:none;
       user-select:none;
   }
    .btn:focus,.btn:active:focus{
       outline:thin dotted;
       outline:5px auto -webkit-focus-ring-color;
       outline-offset:-2px;
   }
    .btn:hover,.btn:focus{
       color:#333;
       text-decoration:none;
   }

   .home-events-section {
       background: white;
   }
    .btn:active{
       outline:0;
       background-image:none;
       -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
       box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
   }
    a{
       color:#fdfcfa;
       cursor:pointer;
   }
    a:hover{
       color:#ffffff;
   }
    a,a:hover,a:focus{
       outline:none!important;
   }
    h2{
       margin:0;
   }
    p{
       margin:0;
       line-height:1.5em;
       font-size:23px;
   }
    .btn{
       -webkit-transition:all .25s;
       -o-transition:all .25s;
       transition:all .25s;
       height:50px;
       padding:6px;
       background:#50aeca;
       border-radius:0;
       color:#f6f6f7;
       font-size:18px;
       font-family:"Brandon Grot Bold";
       line-height:37px;
       outline:none;
   }
    .btn:hover{
       -webkit-transition:all .25s;
       -o-transition:all .25s;
       transition:all .25s;
       background:none!important;
       color:#7a8897;
       border:1px solid #c5841e;
   }
    .btn-gray{
       background:#52555c;
       color:#fff;
   }
    .home-events-heading{
       font-size:45px;
       font-family:"Baskerville Italic";
       margin-bottom:32px;
   }
    .home-event-outer{
       margin-bottom:6px;
       height:auto;
       overflow:hidden;
       position:relative;
   }
    .home-event-left{
       padding-top:32px;
   }
    .event-left-item{
       position:absolute;
       top:0;
       left:0;
       height:100%;
   }
    .event-left-item,.event-right-item{
       float:left;
   }
    .event-right-item{
       height:auto;
       min-height:100px;
       background:rgb(226, 226, 226);
       width:100%;
       padding:15px 15px 15px 115px;
   }
    .event-item-date,.event-item-month{
       width:100px;
       height:50%;
       color:#fff;
       text-align:center;
       display:table;
   }
    .evente-right-heading{
       font-size:24px;
       font-family:"Brandon Grot Bold";
       text-transform:uppercase;
       margin-bottom:0;
   }
    .event-right-item p{
       font-size:18px;
       font-family:"Baskerville Regular";
       line-height:1.2em;
   }
    .small-church .event-item-date{
       background:#3a4e63;
   }
    .small-church .event-item-month{
       background:#8697aa;
   }
    .large-church .event-item-date{
       background:#53555c;
   }
    .large-church .event-item-month{
       background:#78818c;
   }
    .event-item-date span{
       font-size:26px;
       font-family:"Baskerville Italic";
       line-height:1;
       height:100%;
       display:table-cell;
       vertical-align:middle;
   }
    .event-item-month span{
       font-size:21px;
       font-family:"Brandon Grot Bold";
       line-height:1;
       text-transform:uppercase;
       display:table-cell;
       vertical-align:middle;
   }
    .home-events-heading span{
       font-family:"Brandon Grot Bold";
       text-transform:uppercase;
   }
    .home-events-section .btn-gray{
       width:99%;
       background:#cccfce;
       text-transform:uppercase;
   }
    @media (max-width:1024px){
        .event-right-item{
           padding-left:112px;
       }
        .event-item-date,.event-item-month{
           width:80px;
       }
        .event-right-item{
           font-size:24px;
       }
   }
    @media (max-width:980px){
        .home-events-section .btn-gray{
           width:100%;
       }
        .event-item-date span{
           font-size:40px;
       }
        .event-item-month span{
           font-size:25px;
       }
        .evente-right-heading{
           font-size:25px;
       }
   }
    @media (max-width:360px){
        .evente-right-heading{
           font-size:23px;
       }
   }
    @media (max-width:320px){
        .evente-right-heading{
           font-size:21px;
       }
   }
}
/*! CSS Used fontfaces */
@font-face{
   font-family:"Brandon Grot Bold";
   src:url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/c12a6d37-72c1-408b-9ca9-32946956c57f.eot#iefix");
   src:url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/c12a6d37-72c1-408b-9ca9-32946956c57f.eot#iefix") format("eot"),url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/4f2d0548-c7dc-459b-a2e0-e86656a10ded.woff") format("woff"),url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/dc21d9e5-516f-4e7e-9a84-7be79a44c2dd.ttf") format("truetype"),url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/a9bdb836-ee14-494d-8c69-5617c5720992.svg#a9bdb836-ee14-494d-8c69-5617c5720992") format("svg");
}
@font-face{
   font-family:"Baskerville Italic";
   src:url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/f0bf387a-6de1-402c-a63c-04664681e924.eot#iefix");
   src:url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/f0bf387a-6de1-402c-a63c-04664681e924.eot#iefix") format("eot"),url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/11514d41-5158-4a68-8f27-9202cc7fc001.woff") format("woff"),url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/b62c4ed0-7687-4a1b-840d-00a34f2d16a2.ttf") format("truetype"),url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/ede983d0-3356-4a76-956b-4131479e2d55.svg#ede983d0-3356-4a76-956b-4131479e2d55") format("svg");
}
@font-face{
   font-family:"Baskerville Regular";
   src:url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/8dc59876-75a4-4e80-bd1a-735d5f043beb.eot#iefix");
   src:url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/8dc59876-75a4-4e80-bd1a-735d5f043beb.eot#iefix") format("eot"),url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/9df317a3-a79e-422e-b4e2-35ccd29cd5b7.woff") format("woff"),url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/32d18512-4cc1-4c1c-a041-e595f26d1b96.ttf") format("truetype"),url("https://go2cornerstone.com/wp-content/themes/cornerstone/assets/fonts/cf682c43-15a5-45c0-934e-8f899e561e1f.svg#cf682c43-15a5-45c0-934e-8f899e561e1f") format("svg");
}
